@font-face {
  font-family: PressStart2P-reg;
  src: url('../fonts/PressStart2P-Regular.ttf');
}

body, html {
  background: #000;
  font-family: PressStart2P-reg, sans-serif;
  display: flex;
  font-size: x-small;
}

.icon{
  height: 30px;
}

#menu{
  height: 600px;
  background: #f6f6f6;
  background: -moz-linear-gradient(45deg, #f6f6f6 0%, #e1e1e1 68.5%, #f1f1f1 68.5%, #ffffff 100%);
  background: -webkit-linear-gradient(45deg, #f6f6f6 0%,#e1e1e1 68.5%,#f1f1f1 68.5%,#ffffff 100%);
  background: linear-gradient(45deg, #f6f6f6 0%,#e1e1e1 68.5%,#f1f1f1 68.5%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=1 );
  border-left: thin black solid;
  overflow-y: scroll;
}

#game {
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../images/floor.jpg');
  background-size: 10rem;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#office {
  height: 100%;
}

#office > .employees {
  padding: 1rem;
}

#office > .employees > .you {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.stats {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);

  display: flex;
  height: 4rem;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
}

.stats__money {
  display: flex;
  justify-content: space-between;
  width: 60px;
  align-items: center;
  font-size: 19px;
}

.wall {
  height: 80px;
  background-image: url('../images/wall.jpg');
}

.developer {
  width: 77px;
  height: 50px;
  margin-right: .3rem;
}

.developer__menu {
  display: flex;
  border-bottom: darkgray thin dashed;
}

.developer__icon {
  width: min-content;
  border-right: darkgray thin dashed;
  background: thistle;
}

.developer__icon--inactive {
  width: min-content;
  border-right: darkgray thin dashed;
  background: thistle;
  opacity: 0.5;
}

.developer__attributes {
  width: min-content;
  margin-left: 5px;
  white-space: nowrap;
}

.developer__attribute {
  width: min-content;
  margin: 0;
}

.developer__attribute--inactive {
  width: min-content;
  margin: 0;
  opacity: 0.5;
}

footer {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 1rem;
}
